registry=https://registry.npmjs.org

@blueshift-ui:registry=https://artifactory.nerdy-core.com/artifactory/api/npm/npm-dev-local/
//artifactory.nerdy-core.com/artifactory/api/npm/npm-dev-local/:_auth=${VT_ARTIFACTORY_TOKEN}
//artifactory.nerdy-core.com/artifactory/api/npm/npm-dev-local/:always-auth=true