name: Test and Build

on:
  pull_request:

env:
  VT_ARTIFACTORY_TOKEN: ${{ secrets.VT_ARTIFACTORY_TOKEN }} # for JFrog Artifactory packages install

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v3.6.0
        with:
          node-version-file: .nvmrc
          cache: yarn

      - name: Install Dependencies
        run: yarn setup

      - name: Test & Build
        run: yarn test && yarn build
